<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Incident report</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Incident report</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active intro-slide-1">
      <h1 class="intro-text">Welcome to the best incident reporting platform.</h1>
    </div>
    <div class="carousel-item intro-slide-3">
      <h1 class="intro-text">Report incidents as they happen.</h1>
    </div>
    <div class="carousel-item intro-slide-2">
      <h1 class="intro-text">Timely response from the authorities.</h1>
    </div>
  </div>
</div>

<section class="incidents">
  <a href="/main"><button class="btn btn-lg btn-outline-danger incident-info" type="button" name="button">Browse all submitted incidents</button></a><br>
  <a href="/main#new"><button class="btn btn-lg btn-danger incident-info" type="button" name="button">Add a new incident</button></a>
</section>

<div class="footer">
  <section id="about">
  <h1>About</h1>
  <p>We are a platform that helps people report incidents. We
  offer prompt response and provide the best services to controlling
 incidents and provide measures to curb further incidents.</p>
  </section>

  <section id="contact">
  <h1>Contact us</h1>
  <p>Dial 112</p>
  </section>
</div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
  </body>
</html>
